<footer class="footer">
    <!-- replace with your own email address 
    <a href="mailto:info@ethanguyant.com" class="footer__link">info@ethanguyant.com</a>-->
    <ul class="social-list">
        <li class="social-list__item">
            <a class="social-list__link" href="mailto:emguyant@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="https://www.linkedin.com/in/ethan-guyant/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="https://github.com/EMGuyant">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
</footer>