<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <section class="hero">
      <div class="hero__img"></div>
      <canvas id="c" class="hero__over"></canvas>
      <div id="title-window" class="wrapper">
        <div class="title">
           <p class="title__txt">INQUISITIVE</p>
           <p class="subtitle__txt">NATURE</p>
        </div>
      </div>
      <div class="arrow wrapper">
        <p class="arrow__txt">Feed your Curiosity</p>
        <i class="fa fa-angles-down arrow__icon bounce"></i> 
      </div>
     </section>

     <section class="blog__posts">
      <div class="wrapper">
          <h2 id="recent-posts" class="recent__title">Recent Posts</h2>
          {% for post in site.posts limit:3 %}
            <article class="post">
              <div class="post__image__wrapper">
                <div class="post__image">
                  <img src="{{ post.image }}">
                </div>
                <button class="unsplash__button"><i class="fa-brands fa-unsplash"></i> 
                  Photo by <a href="{{ post.image_by_link }}">
                  {{ post.image_by }}</a> on <a href="https://unsplash.com/s/photos/data?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>        
                </button>
              </div>
              <div class="post__content__wrapper">
                <div class="post__content">
                  <h2 class="post__title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </h2>
                  <p class="post__subtitle">{{ post.subtitle }}</p>
                  <p class="post__description">{{ post. description }}</p>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
          <section class="pages">
            <div class="wrapper">
              <a class="btn next__page" href="/blog/index.html">
                <span>Discover More</span>
              </a>
            </div>
          </section>
    </section>
 
    {%- include footer.html -%}

    <script src="https://kit.fontawesome.com/c9965d23bb.js" crossorigin="anonymous"></script>
    <script src={{ "/assets/js/script.js" | relative_url}}></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>

</html>
